@page
@using Microsoft.AspNetCore.Authorization
@model Client.Web.Pages.Products.IndexModel
@attribute [Authorize]

@{
    ViewData["Title"] = "Products";
}

<h1>List of Products</h1>

<!-- Table for products-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Description</td>
        </tr>
    }
    </tbody>
</table>


